* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #efefef;
}

.title-text {
    text-align: center;
}

.title-text h2 {
    position: relative;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 36px;
}

.title-text h2::after {
    content: '';
    position: absolute;
    left: 48%;
    bottom: -5px;
    width: 25px;
    height: 2px;
    border-radius: 5px;
    background: #0f1584;
    transition: all ease-in 0.3s;
}

.title-text p {
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.fa {
    color: #000;
}

/* banner */

#banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(15, 81, 132, 0.3), rgba(15, 81, 132, 0.3)),
                url('.//banner.jpg');
    background-position: center;
    background-size: cover;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7%;
}

.logo {
    color: #0f1584;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.nav-links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links ul li {
    margin: 10px 30px;
}

.nav-links ul li a {
    position: relative;
    color: #fff;
}

.nav-links ul li a::after {
    content: '';
    position: absolute;
    left: 25%;
    bottom: -8px;
    width: 25px;
    height: 2px;
    background: #0f1584;
    opacity: 0;
    transition: all ease-in 0.3s;
}

.nav-links ul li a:hover::after {
    opacity: 1;
}

.menu-btn {
    display: none;
}

.text-container {
    position: relative;
    top: 60%;
    left: 15%;
    max-height: 350px;
    width: 40%;
}

.text-container::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 58%;
    width: 6px;
    height: 100%;
    border-radius: 5px;
    background: #0f1584;
    transform: translateY(-50%);
    transition: all ease-in 0.3s;
}

.text-container p {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
}

.btn {
    border: 2px solid #0f1584;
    border-radius: 2px;
    background: transparent;
    padding: 10px;
    color: #fff;
    font-weight: 400;
    line-height: 22px;
    transition: all ease-in 0.3s;
}

.btn:hover {
    background: #000;
    border: 2px solid #e6e7eb;
    padding: 15px;
}

/* banner */ 

/* service */

#service, #about, #contact, #footer {
    padding-top: 70px;
}

.service-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 10px;
    background: #fff;
    width: 80%;
    text-align: center;
    box-shadow: 6px 6px 5px 10px #e6e7eb;
}

.service-desc {
    width: 30%;
    margin: 25px 0;
}

.service-icon {
    color: #000;
    font-size: 36px;
}

.service-text {
    font-weight: 300;
}

/* service */

/* about */

.about-row {
    display: flex;
    width: 80%;
    padding: 45px;
    background: #fff;
    box-shadow: 6px 6px 5px 10px #e6e7eb;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-row .left {
    flex-basis: 40%;

}

.about-row .right {
    flex-basis: 40%;
}

.about-profile img {
    width: 420px;
    height: 210px;
    margin-bottom: 10px;
}

.about-desc h3 {
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.about-info {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.readmore {
    border-bottom: 2px solid #0f1584;
    width: 19%;
    font-size: 16px;
    cursor: pointer;
}

.readless {
    border-bottom: 2px solid #0f1584;
    width: 16%;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.show-info {
    overflow: visible;
    text-overflow: initial;
    -webkit-box-orient: horizontal;
}

/* about */

/* contact */

#contact {
    width: 80%;
    margin: auto;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 45px;
    box-shadow: 6px 6px 5px 10px #e6e7eb;
    margin: 20px auto;
    color: #000;
}

.contact-row .left, .contact-row .right {
    flex: 48%;
}

.contact-row .left div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-row .left div .fa {
    font-size: 28px;
    margin: 10px;
    margin-right: 30px;
}

.contact-row .left div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 400;
}

.contact-row .left div p {
    padding: 0;
    line-height: 22px;
    font-size: 14px;
    font-weight: 300;
}

.contact-row .right input {
    background: transparent;
    width: 48%;
    outline: none;
    padding: 15px;
    border: 1px solid #0f1584;
    margin-bottom: 15px;
} 

.contact-row .right input[type = "text"], .contact-row .right input[type = "tel"] {
    margin-right: 5px;
}

.contact-row .right textarea {
    background: transparent;
    width: 98%;
    outline: none;
    padding: 10px;
    border: 1px solid #0f1584;
    margin-bottom: 15px;
}

.contact-row button {
    display: block;
    background: transparent;
    padding: 12px 34px;
    border: 1px solid #0f1584;
    font-size: 13px;
}

.contact-row button:hover {
    background: #000;
    border: 2px solid #e6e7eb;
    border-radius: 2px;
    padding: 16px 42px;
    color: #fff;
    font-size: 16px;
    transition: all ease-in 0.3s;
}

/* contact */

/* footer */

#footer {
    width: 100%;
    background: #0f1584;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 40px;
}

.footer-nav ul li, .footer-desc p {
    display: inline-block;
}

.footer-nav ul li {
    border-right: 2px solid #fff;
    padding: 0 10px;
    font-size: 16px;
}

.footer-nav ul li:last-child {
    border-right: none;
}

.footer-nav ul li a {
    color: #fff;
}

.footer-icons {
    padding: 18px 0;
}

.footer-icons .fab {
    color: #fff;
    font-size: 24px;
    padding: 4px;
    margin: 0 13px;
}

.footer-desc {
    margin-bottom: 10px;
}

.footer-desc p a {
    color: #fff;
}

.footer-desc p, .brand {
    border-bottom: 1.5px solid #fff;
    padding-bottom: 1.5px;
    color: #fff;
}

.footer-desc p:first-child {
    margin-right: 15px;
}

/* footer */

/* scroll-link */

.top-link {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #0f1584;
    border-radius: 0.5rem;
    height: 2rem;
    width: 2rem;
    z-index: 100;
    display: grid;
    place-items: center;
    font-size: 1.25rem;
    visibility: hidden;
}

.show-link {
    visibility: visible;
}

.top-link .fa {
    color: #fff;
}

/* scroll-link */


@media screen and (max-width: 480px) {
    /* banner */

    .navbar {
        padding: 10px 3%;
    }
    .logo {
        font-size: 14px;
    }

    .nav-links {
        background: #0f1584;
        position: fixed;
        top: 0;
        right: -250px;
        width: 180px;
        height: 100vh;
        z-index: 2;
        transition: all 0.5s ease-in;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul li {
        margin: 20px 25px;
    }

    .menu-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        text-align: center;
        background: #0f1584;
        position: relative;
        top: 9px;
        right: 18px;
        z-index: 3;
        border-radius: 2px;
        transition: all 0.5s ease-in;
    }

    .menu-btn .fa {
        color: #fff;
        font-size: 20px;
    }

    .text-container {
        width: 80%;
        left: 12%;
    }

    .text-container p {
        font-size: 15px;
    }
    
    /* banner */

    /* service */

    .service-icon {
        font-size: 32px;
    }

    .service-text {
        font-size: 12px;
    }

    /* service */

    /* about */

    .about-row {
        flex-direction: column;
        gap: 20px;
    }

    .about-profile img {
        width: 210px;
        height: 105px;
    }

    .about-info {
        font-size: 12px;
    }

    .readmore {
        font-size: 12px;
        width: 28%;
    }

    .readless {
        font-size: 12px;
    }

    /* about */

    /* contact */

    .contact-row {
        flex-direction: column;
        padding: 20px;
    }

    .contact-row .left div h5 {
        font-size: 12px;
        font-weight: 600;
    }

    .contact-row .left div p {
        font-size: 12px;
    }

    .contact-row .right input {
        width: 45%;
    }

    .contact-row .right textarea {
        width: 94%;
    }

    /* contact */
}

@media screen and (max-width: 480px) and (min-height: 800px) {
    .text-container {
        top: 65%;
    }
}

@media screen and (max-width: 540px){
    .navbar {
        padding: 10px 3%;
    }
    .logo {
        font-size: 14px;
    }

    .nav-links {
        background: #0f1584;
        position: fixed;
        top: 0;
        right: -250px;
        width: 180px;
        height: 100vh;
        z-index: 2;
        transition: all 0.5s ease-in;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul li {
        margin: 20px 25px;
    }

    .menu-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        text-align: center;
        background: #0f1584;
        position: relative;
        top: 9px;
        right: 18px;
        z-index: 3;
        border-radius: 2px;
        transition: all 0.5s ease-in;
    }

    .menu-btn .fa {
        color: #fff;
        font-size: 20px;
    }

    .text-container {
        top: 55% !important;
    }

    /* banner */

    /* about */

    .about-profile img {
        width: 320px;
    }

    /* about */

    /* contact */

    .contact-row {
        flex-direction: column;
    }

    .contact-row .right input {
        width: 46% !important;
    }

    /* contact */
}

@media screen and (max-width: 960px) {
    /* banner */

    .navbar {
        font-size: 12px;
    }

    .logo {
        font-size: 16px;
    }

    .text-container {
        top: 75%;
        width: 60%;
    }

    /* banner */

    /* about */

    .about-row {
        gap: 30px;
    }

    .about-info {
        font-size: 12px;
        -webkit-line-clamp: 4;
    }

    .readmore, .readless {
        font-size: 12px;
    }

    /* about */

    /* contact */

    .contact-row {
        padding: 20px;
    }

    .contact-row .left div h5 {
        font-size: 12px;
        font-weight: 600;
    }

    .contact-row .left div p {
        font-size: 12px;
    }

    .contact-row .right input {
        width: 45%;
    }

    .contact-row .right textarea {
        width: 94%;
    }

    /* contact */
}

@media screen and (max-width: 1024px) {
    /* banner */

    .text-container {
        width: 40%;
    }

    /* banner */

    /* about */

    .about-row {
        gap: 30px;
    }

    .about-info {
        font-size: 12px;
    }

    /* about */

    /* contact */

    .contact-row .left div h5 {
        font-size: 14px;
        font-weight: 600;
    }

    .contact-row .left div p {
        font-size: 12px;
    }

    /* contact */
}
